<% provide(:title, 'About') %>
<!-- PAGE TITLE -->
<header id="page-title">
    <div class="container">
        <h1>About <strong>Us</strong></h1>

        <ul class="breadcrumb">
            <li><%= link_to "Home", root_path %></li>
            <li class="active">About Us</li>
        </ul>
    </div>
</header>
<section class="container">
    <!-- WELCOME -->
    <article>
        <h2>Welcome to Jhupro</h2>
        <p>We are based in the cleanest city <strong>Hetauda.</strong>
            We are proud to be one of a kind, being the<em> first IT solutions </em>venture outside of Kathmandu valley.
            We at <strong>Jhupro</strong> which a nepali word for a small  family house or a hut, work together to provide you a
            ultimate solution for your needs. We are group of developers, designers, network and database gurus from
            Nepal and US and individually have achieved and acquired various experiences and successes both academically
            and professionally.</p>
        <p class="lead"> We thrive in our clients success. Get to Know us and let us
            discuss how can we help you?</p>
    </article>

    <!-- WELCOME -->
    <div class="divider"><!-- divider -->
        <i class="fa fa-star"></i>
    </div>
    <!-- BORN TO BE A WINNER -->
    <article class="row">
        <div class="col-md-6">
            <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true,
            "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                <div>
                    <%= image_tag("about/1.jpg", {height:'311',
                                  width:'555', class:"img-responsive", alt:"Pokhara City"}) %>
                </div>
                <div>
                    <%= image_tag("about/2.jpg", {class:"img-responsive", alt:"Above the clouds",
                                  height:'311', width:'555'}) %>
                </div>
                <div>
                    <%= image_tag("about/3.jpg", {class:"img-responsive", alt:"House in the mountains",
                                  height:'311', width:'555'}) %>
                </div>
                <div>
                    <%= image_tag("about/4.jpg", {class:"img-responsive", alt:"Sun rays through mountains",
                                  height:'311', width:'555'}) %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Jhupro  - Professional software development</h3>
            <p>Established in 2013 and located at Hetauda,
                Nepal the Jhupro Services Pvt. Ltd. is a company of young and energetic professionals.
               Jhupro is committed to provide high tech web design, web development, desktop and mobile application
                development and eCommerce website with latest technology in a reasonable and affordable price. Quality,
                creativity and excellence are our basic features and satisfaction of valuable customers is our motto.
                It has witnessed a phenomenal growth in a seemingly short span of time.</p>
            <p>The company comprises a team of Computer science and engineering graduates who are
                thorough professionals with experience in designing and programming software and applications.
                Our management team understands requirements of our valued clients and work out professional
                strategies to meet their customized and the individual business needs. We keep the clients’
                approach towards business growth as our first priority and deliver the projects on time. Our
                forte lies in delivering what we promise and going beyond the ordinary and walking that extra
                mile to meet client requirements. We remain motivated by hard work and do not compromise on quality
                and constantly raise the bar for ourselves with every project that we undertake.</p>
        </div>
    </article>
    <!-- /BORN TO BE A WINNER -->

        <div class="divider"><!-- divider -->
            <i class="fa fa-star"></i>
        </div>

        <!-- WHO WE ARE and SKILLS -->
        <article class="row">
            <div class="col-md-6">
                <h3>Who is Jhupro</h3>

                <div class="toogle">

                    <div class="toggle">
                        <label>What kinds of applications does Jhupro develop?</label>
                        <div class="toggle-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>Do you develop custom applications?</label>
                        <div class="toggle-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>I want to develop an application. How much will you charge?</label>
                        <div class="toggle-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>How can i contact you?</label>
                        <div class="toggle-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <a data-toggle="tooltip" data-original-title="Default tooltip" href="#">pellentesque neque eget</a> diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" title="A Title">Popover on top</a></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <h3>Jhupro Skills</h3>

                <div class="progress-bars">

                    <div class="progress-label">
                        <span>Web apps</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
                            <span class="progress-bar-tooltip">100%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span>Mobile apps</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="86%" data-appear-animation-delay="300">
                            <span class="progress-bar-tooltip">86%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span>Database</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="69%" data-appear-animation-delay="600">
                            <span class="progress-bar-tooltip">69%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span>Cloud Computing</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="96%" data-appear-animation-delay="900">
                            <span class="progress-bar-tooltip">96%</span>
                        </div>
                    </div>

                </div>

            </div>
        </article>
        <!-- /WHO WE ARE and SKILLS -->

        <div class="divider"><!-- divider -->
            <i class="fa fa-star"></i>
        </div>

        <!-- TEAM -->
        <article class="row">
            <div class="col-md-12">
                <h3>Meet Jhupro Team</h3>

                <div class="row">

                    <div class="col-sm-6 col-md-3"><!-- item 1 -->
                        <div class="item-box fixed-box">
                            <figure>
                                <%= image_tag("about/people/bibek.jpg",
                                              {class:"img-responsive", alt:"Bibek Anand Neupane",
                                               width:"263", height:"263" }) %>
                            </figure>
                            <div class="item-box-desc">
                                <h4>Bibek Anand Neupane</h4>
                                <small class="styleColor">CEO</small>
                                <p>Electrical Engineering from Tribhuwan University</p>
                                <div class="row socials">
                                    <%= link_to "", "https://www.facebook.com/neupane.bbek", target:"_blank",
                                                class:"social fa fa-facebook"%>
                                    <%= link_to "","javascript:void(0);", target:"_blank", class:"social fa fa-twitter" %>
                                    <%= link_to "","javascript:void(0);", target:"_blank", class:"social fa fa-google-plus" %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3"><!-- item 2 -->
                        <div class="item-box fixed-box">
                            <figure>
                                <%= image_tag("about/people/bikalpa.jpg",
                                              {class:"img-responsive", alt:"Bibek Anand Neupane",
                                               width:"263", height:"263" }) %>
                            </figure>
                            <div class="item-box-desc">
                                <h4>Bikalpa Bartaula</h4>
                                <small class="styleColor">Director</small>
                                <p>MBBS from Patan Academy of Health Science</p>
                                <div class="row socials">
                                    <%= link_to "", "javascript:void(0);", target:"_blank",
                                                class:"social fa fa-facebook"%>
                                    <%= link_to "","javascript:void(0);", target:"_blank", class:"social fa fa-twitter" %>
                                    <%= link_to "","javascript:void(0);", target:"_blank", class:"social fa fa-google-plus" %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3"><!-- item 3 -->
                        <div class="item-box fixed-box">
                            <figure>
                                <%= image_tag("about/people/bijay.jpg",
                                              {class:"img-responsive", alt:"Bijay Karki",
                                               width:"263", height:"263" }) %>
                            </figure>
                            <div class="item-box-desc">
                                <h4>Bijay Karki</h4>
                                <small class="styleColor">Developer</small>
                                <p>Electronics Engineering from Tribhuwan University</p>
                                <div class="row socials">
                                    <%= link_to "", "javascript:void(0);", target:"_blank",
                                                class:"social fa fa-facebook"%>
                                    <%= link_to "","javascript:void(0);", target:"_blank", class:"social fa fa-twitter" %>
                                    <%= link_to "","javascript:void(0);", target:"_blank", class:"social fa fa-google-plus" %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3"><!-- item 4 -->
                        <div class="item-box fixed-box">
                            <figure>
                                <%= image_tag("about/people/yadu.jpg",
                                              {class:"img-responsive", alt:"Yadu Nandan Paudel",
                                               width:"263", height:"263" }) %>
                            </figure>
                            <div class="item-box-desc">
                                <h4>Yadu Nandan Paudel</h4>
                                <small class="styleColor">Developer</small>
                                <p>Electrical Engineering from Tribhuwan University</p>
                                <div class="row socials">
                                    <%= link_to "", "https://www.facebook.com/rsquare80", target:"_blank",
                                                class:"social fa fa-facebook"%>
                                    <%= link_to "","javascript:void(0);", target:"_blank", class:"social fa fa-twitter" %>
                                    <%= link_to "","javascript:void(0);", target:"_blank", class:"social fa fa-google-plus" %>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </article>
        <!-- /TEAM -->

        <hr />

        <div class="owl-carousel" data-plugin-options='{"items": 5, "singleItem": false, "autoPlay": true, "navigation": false, "pagination": false}'>
            <div>
                <%= image_tag ("home/brands/1.jpg"), class:"img-responsive", alt:"" %>
            </div>
            <div>
                <%= image_tag ("home/brands/2.jpg"), class:"img-responsive", alt:"" %>
            </div>
            <div>
                <%= image_tag ("home/brands/3.jpg"), class:"img-responsive", alt:"" %>
            </div>
            <div>
                <%= image_tag ("home/brands/4.jpg"), class:"img-responsive", alt:"" %>
            </div>
            <div>
                <%= image_tag ("home/brands/5.jpg"), class:"img-responsive", alt:"" %>
            </div>
            <div>
                <%= image_tag ("home/brands/6.jpg"), class:"img-responsive", alt:"" %>
            </div>
            <div>
                <%= image_tag ("home/brands/7.jpg"), class:"img-responsive", alt:"" %>
            </div>
            <div>
                <%= image_tag ("home/brands/8.jpg"), class:"img-responsive", alt:"" %>
            </div>
        </div>
</section>