<% provide(:title, 'Careers') %>
<!-- PAGE TITLE -->
<header id="page-title">

    <div class="container">
        <h1>Careers</h1>

        <ul class="breadcrumb">
            <li><%=link_to "Home", root_path%></li>
            <li class="active">Careers</li>
        </ul>
    </div>
</header>

<section class="container">

    <h2><strong>C</strong>areers <strong>A</strong>t <strong>J</strong>hupro</h2>

    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam
        posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh
        adipiscing sit amet.</p>

    <div class="divider"><!-- divider -->
        <i class="fa fa-star"></i>
    </div>

    <div class="toogle">

        <div class="toggle active">
            <label>Why Jhupro is the best choice for you?</label>
            <div class="toggle-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam
                    posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat
                    nibh adipiscing sit amet.</p>
                <%= link_to image_tag('career/jhupro_dark_small.png', {alt:'Jhupro', style:'height:110px;'}),
                            image_path('home/jhupro_dark.png'), class:'img-thumbnail lightbox pull-left inner',
                            data:{:'plugin-options'=>'{"type"":"image"}'}%>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere
                    porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh
                    adipiscing sit amet.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                    <%=link_to "pellentesque neque eget", "javascript:void(0);", data:{toggle:"tooltip",
                                                                                       :'original-title'=>'Default tooltip'} %>
                    diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat
                    nibh adipiscing sit amet.
                    <%=link_to "Popover on top", "javascript:void(0);", title:'A Title',
                               data:{toggle:"popover", :'original-title'=>'A Title',
                                     content:"And here's some amazing content. It's very engaging. right?",
                                     placement:"top", container:"body"} %>
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget
                    diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut
                    feugiat nibh adipiscing sit amet.</p>

                <div class="divider styleColor white"><!-- divider -->
                    <i class="fa fa-leaf"></i>
                </div>

                <!-- columns -->
                <div class="row">
                    <div class="col-md-4"><!-- left -->
                        <h3>Alien Features</h3>
                        <p class="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                            pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin
                            adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>
                    </div>
                    <div class="col-md-4"><!-- center - logo -->
                        <%= image_tag("logo-text-bottom.png",
                                      {class: "animate_fade_in", alt: "Jhupro", width: "300"}) %>
                    </div>
                    <div class="col-md-4"><!-- right -->
                        <h3>Human Features</h3>
                        <p class="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                            pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin
                            adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>
                    </div>
                </div>

                <p class="lead padding30 text-center">Yes, Jhupro can be customized very easy in many ways.</p>
            </div>
        </div>

        <div class="toggle">
            <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</label>
            <div class="toggle-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                    <%=link_to "pellentesque neque eget", "javascript:void(0);", data:{toggle:"tooltip",
                                                                                       :'original-title'=>'Default tooltip'} %>
                    diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat
                    nibh adipiscing sit amet.
                    <%=link_to "Popover on top", "javascript:void(0);", title:'A Title',
                               data:{toggle:"popover", :'original-title'=>'A Title',
                                     content:"And here's some amazing content. It's very engaging. right?",
                                     placement:"top", container:"body"} %>
                </p>
                <ul class="list-icon check StyleSecondColor">
                    <li>Nullam id dolor id</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                    <li>Maecenas sed diam eget</li>
                    <li>Curabitur pellentesque neque eget diam posuere porta.</li>
                </ul>
            </div>
        </div>

        <div class="toggle">
            <label>Curabitur pellentesque neque eget diam?</label>
            <div class="toggle-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                    <%=link_to "pellentesque neque eget", "javascript:void(0);", data:{toggle:"tooltip",
                                                                                       :'original-title'=>'Default tooltip'} %>
                    diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat
                    nibh adipiscing sit amet.
                    <%=link_to "Popover on top", "javascript:void(0);", title:'A Title',
                               data:{toggle:"popover", :'original-title'=>'A Title',
                                     content:"And here's some amazing content. It's very engaging. right?",
                                     placement:"top", container:"body"} %>
                </p>
                <ul class="list-icon check StyleSecondColor">
                    <li>Nullam id dolor id</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                    <li>Maecenas sed diam eget</li>
                    <li>Curabitur pellentesque neque eget diam posuere porta.</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                    <%=link_to "pellentesque neque eget", "javascript:void(0);", data:{toggle:"tooltip",
                                                                                       :'original-title'=>'Default tooltip'} %>
                    diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat
                    nibh adipiscing sit amet.
                    <%=link_to "Popover on top", "javascript:void(0);", title:'A Title',
                               data:{toggle:"popover", :'original-title'=>'A Title',
                                     content:"And here's some amazing content. It's very engaging. right?",
                                     placement:"top", container:"body"} %>
                </p>
            </div>
        </div>
    </div>
    <!-- CALLOUT -->
    <div class="bs-callout text-center nomargin-bottom">
        <h3>
            <strong>Apply</strong> with your resume today! <strong>977-9806855468</strong>
        </h3>

        <div class="divider"><!-- divider -->
            <i class="fa fa-chevron-down"></i>
        </div>

        <h3>
            <%=link_to "Apply", "mailto:info@jhupro.com", class:"btn btn-primary btn-lg", target:"_blank"%>
        </h3>
    </div>
    <!-- /CALLOUT -->

</section>