<% provide(:title, 'Home') %>
<!-- REVOLUTION SLIDER -->
<div class="fullwidthbanner-container roundedcorners">
    <div class="fullwidthbanner">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                <!-- MAIN IMAGE -->
                <%= image_tag ("home/slidebg.jpg"), alt:"Background slide", data:{bgfit:"cover", bgposition:"left top", bgrepeat:"no-repeat"} %>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lightgrey_divider skewfromrightshort customout"
                     data-x="85"
                     data-y="224"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1200"
                     data-easing="Power4.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     data-captionhidden="off"
                     style="z-index: 2">
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption customin customout"
                     data-x="right" data-hoffset="-90"
                     data-y="bottom" data-voffset="0"
                     data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="700"
                     data-easing="Power4.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 3"><%= image_tag ("home/desktop_slider.png"), alt:"Jhupro Website in different sizes"%>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption large_bold_grey skewfromrightshort customout"
                     data-x="80"
                     data-y="66"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="800"
                     data-easing="Back.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     data-captionhidden="off"
                     style="z-index: 4">Professional
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption large_bold_grey skewfromleftshort customout"
                     data-x="80"
                     data-y="122"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="300"
                     data-start="1100"
                     data-easing="Back.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     data-captionhidden="off"
                     style="z-index: 7">Friendly
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption small_thin_grey customin customout"
                     data-x="80"
                     data-y="230"
                     data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1300"
                     data-easing="Power4.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     data-captionhidden="off"
                     style="z-index: 8">Jhurpo Services, builds applications<br /> that are user friendly and also very<br /> easy to use!
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption large_bold_darkblue skewfromleftshort customout"
                     data-x="80" data-hoffset="-90"
                     data-y="350"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1600"
                     data-easing="Back.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     data-captionhidden="off"
                     style="z-index: 10">Web
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption medium_bg_darkblue skewfromleftshort customout"
                     data-x="80" data-hoffset="-90"
                     data-y="410"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1650"
                     data-easing="Back.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     data-captionhidden="off"
                     style="z-index: 11">Applications
                </div>

                <div class="tp-caption medium_bold_orange skewfromleftshort customout start font300"
                     data-x="230" data-hoffset="-90"
                     data-y="370"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1850"
                     data-easing="Back.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     data-captionhidden="off"
                     style="z-index: 13;">User <strong>Friendly</strong>
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption medium_bg_orange skewfromleftshort customout"
                     data-x="230" data-hoffset="-90"
                     data-y="410"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="2300"
                     data-easing="Back.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     data-captionhidden="off"
                     style="z-index: 21">Suitable
                </div>

            </li>
            <!-- SLIDE  -->
            <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
                <!-- MAIN IMAGE -->
                <%= image_tag ("home/darkblurbg.jpg"), alt:"Dark Blur background", data:{bgfit:"cover", bgposition:"left top", bgrepeat:"no-repeat"} %>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption customin"
                     data-x="474"
                     data-y="189"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="800"
                     data-easing="Power3.easeInOut"
                     data-endspeed="300"
                     style="z-index: 2"><%=image_tag ("home/macbook2.png"), alt:""%>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption customin"
                     data-x="245"
                     data-y="92"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="500"
                     data-easing="Power3.easeInOut"
                     data-endspeed="300"
                     style="z-index: 3"><%=image_tag ("home/imac1.png"), alt:""%>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption customin"
                     data-x="693"
                     data-y="69"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1300"
                     data-easing="Power3.easeInOut"
                     data-endspeed="300"
                     style="z-index: 4"><%=image_tag ("home/lupe_macbook.png"), alt:""%>
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption customin"
                     data-x="100"
                     data-y="171"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1400"
                     data-easing="Power3.easeInOut"
                     data-endspeed="300"
                     style="z-index: 5"><%=image_tag ("home/lupe_imac.png"), alt:""%>
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption medium_bg_asbestos skewfromleft customout"
                     data-x="104"
                     data-y="154"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="1500"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 6">Professional Design
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption medium_bg_red skewfromright customout"
                     data-x="820"
                     data-y="274"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="1700"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 7">Service Oriented
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption medium_bg_orange skewfromright customout"
                     data-x="820"
                     data-y="314"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="1800"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 8">User Friendly
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption medium_bg_darkblue skewfromleft customout"
                     data-x="168"
                     data-y="193"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="1600"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 9">Rich Contents
                </div>

                <!-- LAYER NR. 9 -->
                <div class="tp-caption large_bold_white customin customout"
                     data-x="428"
                     data-y="34"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="600"
                     data-start="1100"
                     data-easing="Back.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     style="z-index: 10">Jhupro
                </div>

                <!-- LAYER NR. 10 -->
                <div class="tp-caption medium_light_white customin customout"
                     data-x="630"
                     data-y="51"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="600"
                     data-start="1200"
                     data-easing="Back.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     style="z-index: 11">Products
                </div>
            </li>
            <!-- SLIDE  -->
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<!-- /REVOLUTION SLIDER -->

<section class="container text-center">
    <h1 class="text-center">
        <strong>Welcome</strong> to Jhupro
        <span class="subtitle">Our passion for your business solutions is unparalled</span>
    </h1>
    <p class="lead">Jhupro Services Pvt Ltd. is the ultimate platform for your web, mobile and
        desktop solutions.  Our solutions are delivered with combined package of user intuitive
        GUI that is backed up with highly scalable back-end solutions. We specialize in various
        new generation technologies. </p>
</section>

<div class="container">
    <hr class="half-margins" /><!-- hr line -->
</div>
<!-- FEATURED BOXES 3 -->
<section class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="featured-box nobg border-only">
                <div class="box-content">
                    <i class="fa fa-users"></i>
                    <h4>Web</h4>
                    <p>Modern web technologies like HTML5 and CSS3. We like to keep everything updated.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="featured-box nobg border-only left-separator">
                <i class="fa fa-book"></i>
                <h4>Mobile</h4>
                <p>Application development for Android and iOS. We know this is the smart world.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="featured-box nobg border-only left-separator">
                <i class="fa fa-trophy"></i>
                <h4>Back-end</h4>
                <p>Powerful back end solutions using agile methodologies. We care for your requirements.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="featured-box nobg border-only left-separator">
                <i class="fa fa-cogs"></i>
                <h4>Web Host</h4>
                <p>Hosting everything in the cloud. We are available from everywhere.</p>
            </div>
        </div>
    </div>
</section>

<!-- /FEATURED BOXES 3 -->
<div class="container">
    <hr class="no-lines" /><!-- hr line -->
</div>

<!-- CAROUSEL -->
<section class="container">
    <div class="row">

        <div class="col-md-6">
            <h2>Passion, precision and simplicity</h2>
            <p>
                Jhupro Services Pvt. Ltd. has been launched with a clear vision to become
                multi-skilled and multi-dimensional IT service providers with a focus on high end
                strategic solutions along with the ultimate aim to evolve and become a leading One
                Stop internet strategy consulting company. We have all the capabilities to provide
                integrated online marketing solutions for small and medium business across the globe
                and are ready for challenges in terms of timely delivery, quality expectations of client
                s and measurable results.
            </p>
            <p>
                Our focus is not industry specific as we strongly feel that only the expertise
                of our team matters in everything that we do. We are committed to create excellent
                interactive experiences while designing, executing and managing online strategies for your
                organizations and in turn improving ROI having thrust in complementing your brand.
            </p>

            <!-- divider -->
            <div class="divider styleColor">
                <i class="fa fa-leaf"></i>
            </div>

            <!-- carousel -->
            <div class="owl-carousel" data-plugin-options='{"items": 3, "singleItem": false, "pagination": false, "autoPlay": true}'>
                <div>
                    <%= image_tag ("home/brands/1.jpg"), class:"img-responsive", alt:"" %>
                </div>
                <div>
                    <%= image_tag ("home/brands/2.jpg"), class:"img-responsive", alt:"" %>
                </div>
                <div>
                    <%= image_tag ("home/brands/3.jpg"), class:"img-responsive", alt:"" %>
                </div>
                <div>
                    <%= image_tag ("home/brands/4.jpg"), class:"img-responsive", alt:"" %>
                </div>
                <div>
                    <%= image_tag ("home/brands/5.jpg"), class:"img-responsive", alt:"" %>
                </div>
                <div>
                    <%= image_tag ("home/brands/6.jpg"), class:"img-responsive", alt:"" %>
                </div>
                <div>
                    <%= image_tag ("home/brands/7.jpg"), class:"img-responsive", alt:"" %>
                </div>
                <div>
                    <%= image_tag ("home/brands/8.jpg"), class:"img-responsive", alt:"" %>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                <div>
                    <%= image_tag ("home/jhupro_dark.png"), class:"img-responsive", alt:"" %>
                </div>
                <div>
                    <%= image_tag ("home/jhupro_light.png"), class:"img-responsive", alt:"" %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /CAROUSEL -->

<!-- CALLOUT -->
<div class="bs-callout margin-top text-center styleBackground noradius">
    <h3>We develop applications that are <strong>very easy</strong> to use and has tons of <strong>features</strong>.
        <%=link_to "Contact Us!", new_contact_path, class:"btn btn-primary btn-lg", target:"_blank"%>
    </h3>
</div>
<!-- /CALLOUT -->


<!-- PARALLAX -->
<section class="parallax delayed margin-footer" data-stellar-background-ratio="0.7" style="background-image: url(<%= asset_path 'home/parallax.jpg' %>);">
    <span class="overlay"></span>

    <div class="container ">

        <div class="row">
            <!-- left content -->
            <div class="col-md-7 animation_fade_in ">
                <h2>Our <strong>Strength</strong></h2>
                <p class="lead">
                    Our professional team consists of every individual possessing the best available talent & having
                    sound educational background with having sufficient relevant experience in their
                    respective field. We are a team-driven and result-oriented professionals with a
                    clear focus on client’s need.
                </p>
                <p>
                    We are evolving a culture with best values which is necessary for our existence
                    and achievement of long term goal.
                </p>

                <%= link_to 'Tell Me More', about_path,
                            class: 'btn btn-primary btn-lg' %>
            </div>

            <!-- right image -->
            <div class="col-md-5 animation_fade_in">
                <%= image_tag("home/best.png", {class:"visible-md visible-lg img-responsive pull-right", alt:""}) %>
            </div>
        </div>
    </div>
</section>
<!-- PARALLAX -->